* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gowun-batang-regular {
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
}

.gowun-batang-bold {
  font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-style: normal;
}

/* Pretendard font */
@font-face {
  font-family: "Pretendard";
  src: url("@/assets/fonts/pretendard/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("@/assets/fonts/pretendard/Pretendard-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
  line-height: 1.5;
}

.app-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.no-design-page {
  max-width: 80vw;
  margin: 0 auto;
}
